/* リセットCSS */
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.body {
  width: 100%;
  height: 100%;
  flex-direction: column;
} 

a {
  text-decoration: none;
}

/* ヘッダー */
.header {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 8%);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 50px;
} 

/* トップページ */

.top-page {
  height: 100vh;
  width: 100vw;
  background-image: url("bg-image.png");
  background-size: cover;
  background-position: top center;
  display: flex;
}

.page-btn {
  margin: 520px 0 10px;
  display: flex;
  padding-left: 120px;
  width: 40%;
}

.beauty-btn {
  margin-right: 100px;
  height: 15vh;
  justify-content: space-between;
}

.consult-btn {
  height: 15vh;
}


/* メイン */
.main-post {
  background-color: #5CF0DA;
  width: 100vw;
  height: 100vh;
}

.mandatory {
  color: rgb(211, 38, 38);
}

/* フッター */
.footer {
  width: 100%;
  height: 50px;
}

.copyright {
  text-align: center;
  color: #999;
  font-size: 5px;
}


/* 投稿一覧表示 */

.main-contents {
  background-color: #B9F0E8;
  width: 100vw;
}

.new-post_page {
  color: #1374C6;
  text-align: center;
  padding-top: 20px;
}

.post-lists {
  display: flex;
  flex-wrap: wrap;
}

.list {
  background-color: #FFFFFF;
  list-style: none;
  margin: 20px 20px;
  padding: 10px;
  border: 1px solid #4e7bcc;
  width: 15%;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-nickname {
  padding-bottom: 10px;
}

.unlike-btn {
  color: #e54747;
  font-size: 1em;
}


.post-image {
  text-align: center;
  border: 1px solid #b2b3b6;
}

/* 投稿詳細画面 */

.detail-page {
  background-color:#7ADDBE;
  height: 100%;
}

.detail-page-contents {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  padding: 40px 0 40px;
}

.action-lists {
  padding-left: 20px;
}

.action-list {
  border: 1px solid #b2b3b6;
  border-radius: 7px;
}

.action__btn {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.detail-post {
  border: 1px solid #b2b3b6;
  background-color: #FFFFFF;
  height: 100vh;
  width: 70vw;
  padding: 20px 30px;
  overflow: scroll;
}

.detail-post-header {
  width: 950px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.detail-user {
  width: 95%;
  display: flex;
  align-items: center;
}

.post-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7AC2DD;
  margin-right: 5px;
}

.detail-post-nickname {
  font-size: 22px;
  width: 100%;
}

.like {
  width: 5%;
  font-size: 21px;
}

.detail-post-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.post__image, .dummy__image {
  border: 1px solid #b2b3b6;
  border-radius: 10px;
}

.detail-post-title {
  font-size: 30px;
}

.any-item {
  font-size: 15px;
  color: rgb(162, 154, 154);
}

.detail-main-post {
  border: 1px solid #b2b3b6;
}

.comment-form {
  border: 1px solid #b2b3b6;
  border-top: 20px;
}

.detail-post-comments {
  margin: 20px 0 40px 0;
  padding: 20px 10px;
}

/* プロフィール画面 */
.profile-page {
  background-color: #7AC2DD;
  height: 100%;
  width: 100vw;
}

.profile-contents {
  height: 1500px;
  margin: 30px;
  padding: 50px 30px;
}

.profile-content {
  background-color: #FFFFFF;
  height: 100%;
  overflow: scroll;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.wrap-top {
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 300px;
  padding: 15px 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.user-left {
  text-align: center;
  margin: 13px 60px 0 0;
}

.profile-btn {
  color: #2699FB;
}

.user-center {
  margin-right: 60px;
  width: 20%;
}

.profile-favo {
  margin-bottom: 15px;
}

.unlike-btn2 {
  color: #e54747;
  font-size: 40px;
}

.favorite-count {
  font-size: 30px;
}

.prof_name {
  color: #7AC2DD;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0%;
}

.profile-age {
  margin-bottom: 35px;
}

.prof_age {
  font-size: 15px;
}

.profile-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #7AC2DD;
}

/* フォローボタン */
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #7AC2DD;
  border: solid 4px #7AC2DD;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #7AC2DD;
  color: white;
}

.user-right {
  width: 60%;
  height: 100%;
  margin-top: 30px;
}

.profile-field-intro {
  border: 5px solid #7AC2DD;
  width: 100%;
  height: 63%;
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}

.prof_intro {
  font-size: 18px;
}

.wrap-bottom {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.tab-list {
  display: flex;
  width: 100%;
  padding-left: 0px;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  width: 100%;
  color: #FFF;
  background: #7AC2DD;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

/* box-showクラスのものだけ表示 */
.box-show {
  display: block;
}

/* hover時のアクション */
.tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.tabbox-contents {
  height: 100%;
  overflow: scroll;
}

.follow-user {
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 130px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-top: 5px;
}

.follow-user:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.follow-left {
  text-align: center;
  margin: 0 30px 0 60px;
}

.follow__avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7AC2DD;
}

.follow-center {
  margin-right: 60px;
  width: 150px;
}

.follow_name {
  color: #7AC2DD;
  font-weight: bold;
  font-size: 20px;
}

.follow-user-age {
  font-size: 13px;
  color: black;
}

.follow-right {
  width: 60%;
  height: 100%;
}

.follow-field-intro {
  border: 3px solid #7AC2DD;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
  margin-top: 15px;
}

.follow_intro {
  font-size: 15px;
  color: black;
}


/* プロフィール編集画面 */
.user-profile {
  background-color: #7AC2DD;
  height: 100%;
  width: 100vw;
}

.edit-user {
  height: 1000px;
  margin: 30px;
  padding: 50px 30px;
}

.edit-title {
  color: #FFFFFF;
  text-align: center;
}

.edit-profile {
  background-color: #FFFFFF;
  height: 800px;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  padding: 70px;
  color: #0d0d0d;
  font-weight: bold;
  font-size: 20px;
}

.edit-main {
  display: flex;
}

.edit-left{
  text-align: center;
  margin: 40px 30px 0 0;
}

.edit-right{
  margin-top: 40px;
}

.edit-introduction {
  height: 150px;
  width: 500px;
}

.edit-age, .edit-nickname {
  height: 40px;
  width: 200px;
}

.edit-field {
  margin-bottom: 50px;
}

.edit-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #7AC2DD;
}